.add-recipe {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px #ccc;
    width: 50%;
}

@media screen and (max-width:800px) {
    .add-recipe {
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    .add-recipe {
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    .add-recipe {
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    .add-recipe {
        width: 90%;
    }
}