.adm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 65%;
}

.search {
    width: 35%;
}

.adm p {
    padding-top: 15px;
    margin-right: 5px;
}

.head {
    margin-top: -5px;
    margin-bottom: -5px;
}



@media screen and (max-width: 850px) {
    .adm {
        width: 58%;
    }

    .adm p {
        padding-top: 15px;
        margin-right: 5px;
    }

    .search {
        width: 42%;
    }

    .head {
        height: 11vh;
    }

    .search {
        width: 42%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 750px) {
    .head {
        margin-bottom: 0px;
    }

    .adm {
        width: 50%;
    }

    .search {
        width: 50%;
        height: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        margin-top: -5px;
    }

    .adm p {
        margin-top: -15px;
    }

    .adm .title {
        margin-top: -8px;
    }
}

@media screen and (max-width:570px) {
    .head {
        height: 15vh;
        margin-bottom: 0px;
    }

    .title {
        margin-left: -16px;
    }

    .search {
        width: 100%;
        margin-top: 0px;
        height: 50%;
    }

    .search input {
        width: 75%;
    }

    .adm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


}

@media screen and (max-width: 350px) {
    .adm p {
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .head {
        height: 20vh;
    }
}

@media screen and (max-width: 300px) {
    .adm p {
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .head {
        height: 25vh;
    }
}