.sidebar {
    height: 90vh;
    min-width: 250px;
    max-width: 570px;
}

@media screen and (min-height:85vh) {
    .sidebar {
        overflow-y: auto;
    }
}


.nav-item {
    background: salmon;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.hr {
    margin-bottom: 6px;
}

@media screen and (max-width:570px) {
    .sidebar {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
    }

    .nav-item {
        margin-left: 20px;
        margin-right: 20px;
    }



}